@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@media screen and (width: 1024px) {
    .container {
        left: 10%;
        right: 10%;
    }
}
@media screen and (width: 768px) {
    body {
        position: unset;
        background-color: unset;
    }
    .container {
        position: unset;
        padding: 30px 20px 0 20px;
        justify-content: space-evenly;
    }
    .svg-list > li {
        font-size: 14px;
    }
}
@media screen and (width: 425px) {
    body {
        background-color: unset;
    }
    #mobile-svg {
        display: block;
    }
    .container {
        flex-direction: column;
        padding: 0;
        border-radius: unset;
        justify-content: unset;
        margin-top: 0;
    }
    .main-img {
        display: none;
    }
    .container-text {
        margin-top: 20px;
        padding: 14px;
    }
    .container-text > h1 {
        font-size: 30px;
    }
    .svg-list > li {
        font-size: 14px;
    }
    .sucess-container {
        background-color: unset;
        padding: 12px;
    }
    .sucess-container > h1 {
        font-size: 30px;
        margin-bottom: 12px;
        margin-top: 12px;
    }
}
@media screen and (max-width: 375px) {
    body {
        background-color: unset;
    }
    #mobile-svg {
        display: block;
    }
    .container {
        position: unset;
        flex-direction: column;
        padding: 0;
        border-radius: unset;
        justify-content: unset;
        margin-top: 0;
    }
    .main-img {
        display: none;
    }
    .container-text {
        margin-top: 12px;
        padding: 12px;
    }
    .container-text > h1 {
        font-size: 30px;
    }
    .svg-list > li {
        font-size: 14px;
    }
}
@media screen and (width: 320px) {
    #mobile-svg {
        width: 320px;
    }
}